*{
   
    padding: 0;
    box-sizing:border-box;
    margin: 0;

}
body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    margin: 10px auto;
    flex-direction: ;
    width: 750px;
    height: 550px;
    border: 1px solid black;
}
.title{
    margin-top: 20px;
    padding-left: 15px;
    border-bottom: 1px solid black;
}
.title h3{
    margin-bottom: 10px;
}
.inner-container-left{
    width: 50%;
    background-color: white;
    position: relative;
}
.inner-container-right{
    width: 50%;
    background-color: rgb(95, 81, 251);
}


.csc-id-input{
    margin-left:15px ;
    outline: none;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    height: 30px;
}
.agree{
    font-size: 10px;
    color: grey;
    margin-top: 20px;
    padding-right: 20px;
    margin-left: 15px;
    display: flex;
    /* align-items: center; */
    
}
.ver{
    margin-left: 15px;
    font-size: 10px;
    bottom: 5px;
    position: absolute;
}
.procced-btn{
    height: 40px;
    width: 150px;
    background-color: blue;
    border: none;    
    color: white;
    margin-left: 15px;
    margin-top: 20px;
}
.agree input {
    margin-right: 8px;
}